<%= form_for @order, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :code, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :code, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, value: f.object.total_price, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shipped_date, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :shipped_date, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :customer_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:customer_id, Customer.all, :id, :name, {}, {class: 'text_field form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  orders_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
