<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:code) %></dt>
      <dd><pre class="prettyprint"><%= @order.code %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
      <dd><pre class="prettyprint"><%= @order.description %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:price) %></dt>
      <dd><pre class="prettyprint"><%= @order.total_price %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:shipped_date) %></dt>
      <dd><pre class="prettyprint"><%= @order.shipped_date %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:customer_id) %></dt>
      <dd><pre class="prettyprint"><%= @order.customer.name %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              orders_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_order_path(@order), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              order_path(@order),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>
