<%= form_for @order_item, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :product_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:product_id, Product.all, :id, :test, {}, {class: 'text_field form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:order_id, Order.all, :id, :human_code, {}, {class: 'text_field form-control'}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :quantity, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :discount, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :discount, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  order_items_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
