<%- model_class = OrderItem -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:product_id) %></dt>
      <dd><pre class="prettyprint"><%= @order_item.product.test %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:order_id) %></dt>
      <dd><pre class="prettyprint"><%= @order_item.order.human_code %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:quantity) %></dt>
      <dd><pre class="prettyprint"><%= @order_item.quantity %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:discount) %></dt>
      <dd><pre class="prettyprint"><%= @order_item.discount %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:price) %></dt>
      <dd><pre class="prettyprint"><%= @order_item.line_price %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              order_items_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_order_item_path(@order_item), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              order_item_path(@order_item),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>
