<%= form_for @product, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :test, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :test, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :operator, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :operator, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :material, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :material, Product::MATERIALS, :to_s, :to_s, {}, {class: 'text_field form-control'} %> 
     </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :va, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :va, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :test_date, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :test_date, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  products_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
