<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.titleize %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:test) %></dt>
      <dd><pre class="prettyprint"><%= @product.test %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:operator) %></dt>
      <dd><pre class="prettyprint"><%= @product.operator %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:material) %></dt>
      <dd><pre class="prettyprint"><%= @product.material %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:price) %></dt>
      <dd><pre class="prettyprint"><%= @product.price %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:va) %></dt>
      <dd><pre class="prettyprint"><%= @product.va %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:test_date) %></dt>
      <dd><pre class="prettyprint"><%= @product.test_date %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              products_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_product_path(@product), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              product_path(@product),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>